<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Employee</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="style/kendo.common-material.min.css" />
    <link rel="stylesheet" href="style/kendo.material.min.css" />
    <link rel="stylesheet" href="style/kendo.dataviz.min.css" />
    <link rel="stylesheet" href="style/kendo.dataviz.material.min.css" />
    <link rel="stylesheet" href="style/asp.css" />
   <script src="style/js/jquery.min.js"></script>
    <script src="style/js/kendo.all.min.js"></script>
</head>
<body>

    <div class="content-pane">
        <div id="grid"></div>
    </div>
    <script>
        $(document).ready(function () {
            var UrlBase = "/";
            $("#grid").kendoGrid({
                dataSource: {
                    pageSize: 10,
                    dataType: "jsonp",
                    transport: {
                        read: {
                            url: UrlBase+"api/Employee",
                            contentType: "application/json; charset=utf-8",
                            type: "GET"
                        },
                        create: {
                            url: UrlBase + "api/Employee",
                            contentType: "application/json; charset=utf-8",
                            type: "POST"
                        },
                        update: {
                           
                            url: UrlBase + "api/Employee",
                            contentType: "application/json; charset=utf-8",
                            type: "PUT"
                        },
                        destroy: {
                            url: UrlBase + "api/Employee",
                            contentType: "application/json; charset=utf-8",
                            type: "DELETE"
                        },
                        parameterMap: function (data, operation) {
                            if (operation !== "read") {
                                return kendo.stringify(data);
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                            Id  : { type: "int", editable: false, nullable: false },
                            Name: { type: "string", validation: { required: true}, editable: true, nullable: false },
                                Description : { type: "string", editable: true }
                            }
                        }
                    }

                },
                height: 850,
                sortable: true,
                scrollable: true,
                sortable: true,
                filterable: true,
                editable: "inline",
                toolbar: [{ name: "create", text:"新增員工資料"}],
                pageable: {
                    input: true,
                    numeric: false
                },
                columns: [
                    { field: "Id"  , title: "員工編號" , width: "100px" },
                    { field: "Name", title: "員工名稱", width: "100px" },
                    { field: "Description", title: "員工描述", width: "160px" },
                    {
                        command: [
                            { name: "edit", id:"comedit" , text: "確認修改" },
                            { name: "destroy", text: "刪除" },
                            { text: "View Details", click: showDetails }
                        ], width: "250px"
                    }]

            }).data("kendoGrid");

            wnd = $("#details")
                        .kendoWindow({
                            title: "Customer Details",
                            modal: true,
                            visible: false,
                            resizable: false,
                            width: 300
                        }).data("kendoWindow");

            detailsTemplate = kendo.template($("#template").html());
        });

        function showDetails(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            wnd.content(detailsTemplate(dataItem));
            wnd.center().open();
        }

        


        $("#comedit").on("click", function () { 
            $("#EmployeeID").hide;
        });
    </script>
</body>
</html>
